.inline {
    display: flex;
    margin-left: 500px;
}


/* .search-by {
    margin-bottom: 0;
    margin-left: 500px;
    width: 500px;
  } */

.autocomplete {
    margin-left: 500px;
}

.bold {
    margin-left: 500px;
}